* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  color: #333;
}

h2 {
  font-size: 2.26rem;
  color: #0069b2;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #0069b2;
}

.active {
  color: #0069b2;
}

ul {
  list-style: none;
}

.logo img {
  margin-top: 1.25rem;
  height: 9.375rem;
  width: 12.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9cd1d0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 90%;
  height: 6.25rem;
}

.navbar .container .nav-links {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  padding-block: 4.6875rem;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5625rem;
}

.hero-content .tagline {
  text-align: center;
  font-size: 1.125rem;
  color: rgba(51, 51, 51, 0.75);
  max-width: 31.25rem;
}

.hero .hero-content .hero-heading {
  color: #0069b2;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  line-height: 1.2;
}

.hero-image {
  width: 100%;
  height: 500px;
}

.hero .hero-content .btn-primary {
  border-radius: 0.625rem;
  background-color: #0069b2;
  color: #fff;
  font-weight: bold;
  padding: 0.625rem 0.9375rem;
  border: 0.0625rem solid #0069b2;
}

.hero .hero-content .btn-primary:hover {
  background-color: #fff;
  color: #0069b2;
  border: 0.0625rem solid #0069b2;
}

.incentives {
  background-color: #9cd1d0;
  padding-block: 3.125rem;
}

.incentives ul {
  list-style-type: disc;
}

.incentives .container h3 {
  color: #fff;
}

.incentives .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
}

.incentives .container .items {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.incentives .container .item {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
}

.incentives .container .item .icon {
  width: 3.125rem;
  height: 3.125rem;
}

.incentives .container .item p,
.incentives .container h3 {
  text-align: center;
}

.incentives .container .items .item h3 {
  font-size: 1.25rem;
}

.incentives .container .items .item ul,
.incentives .container .items .item p {
  font-size: 1rem;
}

.testimony {
  background-color: #fff;
  text-align: center;
  padding: 3.125rem;
}

.testimony .container {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.testimony .container .t-items {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.testimony .container .item {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
}

.testimony .container .t-items .item .review {
  align-self: flex-start;
  font-size: 1rem;
}

.testimony .container .t-items .item .name {
  align-self: flex-end;
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
}

.product-wrapper {
  padding-bottom: 3.125rem;
}

.product-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
}

.product-wrapper .container .products {
  display: flex;
  gap: 1.5rem;
}

.product-wrapper img {
  height: 25rem;
  width: 25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
  padding: 0.9375rem;
}

.product-wrapper .price {
  margin-bottom: 0.625rem;
}

.product-wrapper h3,
.product-wrapper .price {
  font-size: 1rem;
  font-weight: 400;
}

.product-wrapper .add-to-cart {
  color: #fff;
  font-size: 0.875rem;
  background-color: #0069b2;
  border-radius: 0.625rem;
  padding: 0.5rem 0.5rem;
  border: 0.0625rem solid #0069b2;
}

.product-wrapper .add-to-cart:hover {
  background-color: #fff;
  color: #0069b2;
  border: 0.0625rem solid #0069b2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9cd1d0;
}

.footer .container {
  width: 100%;
  max-width: 90%;
  display: flex;
  font-size: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 1.25rem;
}

.footer h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
}

.footer h3 {
  color: #fff;
}

.footer p {
  color: #333;
}

.footer-logo img {
  width: 12.5rem;
  height: 9.375rem;
}

.footer-links li a {
  color: #fff;
}

.footer-links li a:hover {
  color: #0069b2;
}

.contact a {
  color: #333;
}

.contact a:hover {
  color: #333;
}

.bottom-footer {
  align-self: center;
}

.copy {
  margin-left: 1.25rem;
  font-size: 0.75rem;
}

.footer-links a {
  color: #000;
}

.social-links img {
  width: 2.125rem;
  height: 2.125rem;
}

.social-links {
  display: flex;
}
